*{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

a{
    padding: 2px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}