<header>
    <div class="cabecera">
        <h1>Taylor Swift</h1>
    </div>
    <nav>
        <a href="">Taylor Swift</a>
        <a href="">Fearless</a>
        <a href="">Speak Now</a>
        <a href="">Red</a>
        <a href="">1989</a>
        <a href="">Reputation</a>
        <a href="">Lover</a>
        <a href="">Folklore</a>
        <a href="">Evermore</a>
        <a href="">Midnights</a>
        <a href="">The Tortured Poets Department</a>
        <a href="">The Life of a Showgirl</a>
        <a href="">Taylor's Version</a>
    </nav>
</header>